@import "tailwindcss";

*{
  font-family: Outfit;
}

.lightHover  {
  background-color: #cac4cc;
}

.darkHover  {
  color: #2a004a;
}

.darkTheme  {
  color: #11001F;
}

.fontOutfit {
  font-family: Outfit , sans-serif;
}

.fontOvo {
  font-family: Ovo , serif;
}

